<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="DBConnName" value="DataSource_TEST1" />
    <add key="DBFilePath" value="..\..\..\Headspring.Employee\App_Data"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="DataSource_TEST1"
			  connectionString="data source=(LocalDB)\v11.0;attachdbfilename=C:\GITProjects\Headspring.Employee\Headspring.Employee\App_Data\HSEmployeeDB.mdf;integrated security=True;"
			  providerName="System.Data.SqlClient" />
		<add name="DataSource_TEST2"
			  connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|HSEmployeeDB.mdf;Integrated Security=True" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="JSONEndpointBehavior">
					<webHttp defaultOutgoingResponseFormat="Json" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="JSONServiceBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Headspring.Employee.WebServices.EmpService" behaviorConfiguration="JSONServiceBehavior">
				<endpoint address="" behaviorConfiguration="JSONEndpointBehavior" binding="webHttpBinding" bindingConfiguration="crossDomain" contract="Headspring.Employee.WebServices.IEmpService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/Headspring.Employee.WebServices/EmpService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>


</configuration>

